.loginView {

    background-color: #CECC0C ;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
}

.pf_login{
    color: #FFF;
    font-size: 20px;
    
    
}

.input_login{
    font-size: 20px;
    height: 50px;
    width: 60%;
    background: none;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
}
input:focus {
    outline: none;
    box-shadow: 0 0 20px #3786da;
}

input:hover {
    box-shadow: 0 0 10px gray;
}
