.playView-elementsContainer {
    width: 100%;
    height: calc(100% - var(--navigationContainer--height));
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8486F8;
    overflow: scroll;
}

.playView-cardsContainer{
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
    
.playView-hudContainer{
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}



.playView-resetBtn{
    height: 25px;
    width: 130px;
}
    
    
.playView-text{
    font-size: 20px;
    height: 25px;
    width: 130px;
}


/* Media Queries */
@media (max-width: 488px) {
    .playView-hudContainer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}